@charset "utf-8";
a,
a:hover{
    color: black;
    text-decoration: none;
}
.header-contents {
    border-bottom: solid 2px #C4C4C4;
}
.nav-icon {
    color : inherit;
}

/*.ログインページ */
.page-title-border {
    border-bottom: solid 2px #C4C4C4;
}
.bg-light-grey {
    background-color: #C4C4C4;
}

.login-page .page-heading {
    border-bottom: solid 2px #C4C4C4;
}
.login-page .signin-form,
.login-page .signup-form{
    height: 13em;
    max-height: 200px;
    background-color: #C4C4C4;
}
.login-button > input,
.signup-button > input {
    background-color: black;
    color: #ffffff;
}

/*.会員登録ページ */
.signin-form .input-column {
    background-color: #C4C4C4;
}

.button-wrap .button-outer .submit-button {
    background-color: black;
    color: #ffffff;
}

/* 商品詳細画面 */

.goods-detail-page .description-block .error {
    color: red;
    font-size: 0.75rem;
    padding-left: 15px;
}
.goods-detail-page .stock-info-wrap {
    height: 40px;
    background-color: #C4C4C4;
}
.goods-detail-page .stock-info {
    font-size: 20px;
}

.goods-detail-page .goods-buy-btn-wrap .goods-buy-btn {
    font-size: 20px;
}

/* 購入完了画面 */
.bought-goods-page .bought-goods .addressee th{
    width: 50%;
    background-color: #C4C4C4;
}

/* ページネーション */
.pagination {
    
}
.page-item {
    
}
/* パンくずリスト */
.breadcrumb {
    background-color: #FFFFFF;
}
.breadcrumb-item+.breadcrumb-item::before {
    content: ">";  /* セパレータ */
}